<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mayi.xiaomi.serveruser.dao.UserMapper" >
    <select id="findUserById" resultType="com.mayi.xiaomi.serveruser.entity.UserEntity">
        select id as userId,name as userName,sex as sex from t_user where id = #{id}
    </select>
</mapper>